@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
  background-color: "#f4f3ef";

}



 .hover-notification:hover {
  animation: sway 0.5s ease-in-out;
}

@keyframes sway {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}